nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      a.navbar-brand(href='/') Todos
      a.navbar-brand(href='https://github.com/iamstevendao/meteor-vue-demo') iamstevendao/meteor-vue-demo
